
body {
text-align: center;
margin: 0px;
background: ;
}

main{
	margin-left: 20px;
	margin-right: 20px

}
/*background-image: url("headpic.jpg");
	background-size: 80000px;*/
.mainhead {
	background: #e89a1a;
	    border-bottom: 3px solid #272827;
}
h1 {
font-size:80px;
font-family:merriweather;
color:black
}
.navbar ul{
	list-style-type: none;
	background-color: #5d5d5b;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border-top: 2px solid #272827;
    border-bottom: 0px solid #272827;
}

.navbar a{
	color: white;
	text-decoration:none;
	padding:15px;
	display: block;
	font-size:24px;
}

.navbar a:hover{
	background-color: #484847;

}

.navbar li{
	float: left;
}
p {
font-size:32px;
font-family:merriweather;
color:black;
}

.picleft{
	float:left;
	margin-left:15px;
	margin-right:0px;
	margin-top: 38px;
}