html{
	height: 100%;
    margin: 0;
    padding: 0;
	min-height: 100vh;
	background: linear-gradient(#97e3fb, #c7f4fa);
	background-attachment: fixed;
		flex-wrap: wrap;
}


body {
    text-align: center;
    margin: 0px;
	font-family:calibri;

}

main{
	margin-left: 20px;
	margin-right: 20px

}

.mainhead {
	background: linear-gradient(#0b289d,#1e99c1);
	border-bottom: 3px solid #272827;
}

.mainfooter {
	background: linear-gradient(#0f36d8,#0f8cd8);
	border-top: 3px solid #272827;
}

h1 {
	font-size:85px;
	font-family:Roboto slab;
	color:#f7f7f7;
    margin-bottom: -5 ;
	margin-top: 25;
	text-shadow:-2px -2px 0 black,2px -2px 0 black,-2px 2px 0 black,2px 2px 0 black;
	
}

h2{
	margin-top: -5;
	margin-bottom: 40;
	font-family:Roboto Slab;
	text-shadow:-2px -2px 0 black,2px -2px 0 black,-2px 2px 0 black,2px 2px 0 black;
	color: #f7f7f7;
}
h3{
	font-size: 50px; 
	font-family:calibri;
}
.navbar ul{
	list-style-type: none;
	background-color: #5d5d5b;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border-top: 2px solid #272827;
    border-bottom: 0px solid #272827;
}

.navbar a{
	color: white;
	text-decoration:none;
	padding:15px;
	display: block;
	font-size:24px;
}

.navbar a:hover{
	background-color: #484847;

}

.navbar li{
	float: left;
}
p {
	font-size:32px;
	font-family:calibri;
	color:black;
}
.picleft{
	float:left;
	margin-left:15px;
	margin-right:0px;
	margin-top: 45px;
}
.left{
	text-align:left;
}

.centernavbar a{
	color: white;
	text-decoration:none;
	padding:15px;
	display: block;
	font-size:24px;
}

.centernavbar ul{
	list-style-type: none;
	background-color: #5d5d5b;
	padding: 0px;
	margin: 0px;
	border-top: 2px solid #272827;
    border-bottom: 2px solid #272827;
}

.centernavbar a:hover{
	background-color: #484847;

}


.contactcontainer{
	height: 75vh;
	display: flex;
	align-items: center;
	justify-content:space-evenly;
}

.contactleft{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
	
.contactright {
    display: flex;
    justify-content: center;
    align-items: center;
}


.contactinputs{
	width: 400px;
	height: 50px;
	border: none;
	outline: none;
	padding-left: 25px;
	font-weight: 500;

}

.contactlefttitle h3{
	font-weight:600;
	color:black;
	border: none;
	font-size:40px;
	margin-bottom:5px;
}

.contactlefttitle hr{
	border:none;
	width: 200px;
	height:5px;
	background-color:black;
	margin-bottom:20px;
	border-radius:50px;
	
}

.contactleft textarea{
	height: 140px;
	padding-top: 15px;
	border-radius:0;
}

.contactinputs:focus{
	border: 2px solid blue;
}

.contactleft button{
	display:flex;
	align-items: center;
	padding: 15px 30px;
	font-size: 16px;
	color: black;
	gap: 10px;
	border: none;
	background: linear-gradient(#155d1b, #1ec12a);
	cursor: pointer;
}

.bluebar {
	background: linear-gradient(#0b289d,#1e99c1);
	border: 2px solid black;
	color: white;
	text-shadow:-1px -1px 0 black,1px -1px 0 black,-1px 1px 0 black,1px 1px 0 black;
}